$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-gray-dark: rgb(77, 77, 77);
$color-gray-dark2: rgb(152, 151, 151);
$color-blue: rgb(25, 129, 255);
$color-red: rgb(255, 45, 45);

$color-gray-light: rgba($color-black, 0.15);

:root {
    --color-page-background: #{$color-gray-light};
    --color-text: #{$color-black};
    --color-colection: #{$color-white};
    --color-team: #{$color-blue};
}

.dark {
    --color-page-background: #{$color-gray-dark2};
    --color-text: #{$color-white};
    --color-colection: #{$color-gray-dark};
    --color-team: #{$color-red};
}

* {
    transition: all 0.2s ease;
}

body {
    background-color: var(--color-page-background);
    color: var(--color-text);
    overflow: inherit !important;
}

.collection {
    border: 0px !important;
    color: var(--color-text);
}

.collection-header {
    background-color: var(--color-colection) !important;
}

.collection-item {
    background-color: var(--color-colection) !important;
}

nav {
    background-color: var(--color-team);
}

.btn-floating {
    background-color: var(--color-team);
}

.btn {
    background-color: var(--color-team);
}

.flex-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.6fr;
}

.flex-container > div {
    margin-right: 1em;
}

.texting {
    color: var(--color-text);
}

.preloader-light {
    background-color: var(--color-colection);
}

.indeterminate {
    background-color: var(--color-team) !important;
}

footer {
    background-color: var(--color-team) !important;
}
